@model int
@{
    ViewData["Title"] = "Delete Category";
}
<h2>Сигурен ли сте, че искате да изтриете тази категория, ако го направите, ще изтриете всички публикции в нея!</h2>

<a asp-controller="Categories" asp-action="Details" asp-route-id="@Model" class="btn btn-default">Back</a>
<a asp-controller="Categories" asp-action="Destroy" asp-route-id="@Model" class="btn btn-danger">Confirm Delete</a>

